{% extends "base.html" %}

{% block title %}
    События
{% endblock %}

{% block content %}

<br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex">
                <div class="card h-100 d-flex flex-row" style="width: 100%; border: 1px solid black;">
                    <img src="../static/image/Bel.jpg" class="card-img-left" alt="..." style="width: 50%; height: auto; object-fit: cover;">
                    <div class="card-body" style="width: 50%; padding: 20px;">
                        <h2 class="text-center" style="font-size: 2.5em; font-weight: bold;">Гора Белая</h2>
                        <p class="card-text">Гора Белая - одна из красивейших на Среднем Урале, располагается в 37 км от города Нижний Тагил.
                            И Белой ее нарекли не случайно: склоны горы с осени до весны покрыты снегом.
                            Взойдя на гору, можно невооруженным глазом разглядеть города Свердловской области: Невьянск, Кировград, Верхний Тагил и даже Екатеринбург.
                        Более 5000 метров горнолыжных трасс разного уровня сложности ждут тебя!</p>
                        <a href="#" class="btn" style="display: inline-block; color: blue; background-color: lightgray; text-align: center; padding: 10px 20px; border: 1px solid blue; border-radius: 5px; text-decoration: none;">{{link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex">
                <div class="card h-100 d-flex flex-row" style="width: 100%; border: 1px solid black;">
                    <img src="../static/image/Pil.jpg" class="card-img-left" alt="..." style="width: 50%; height: auto; object-fit: cover;">
                    <div class="card-body" style="width: 50%; padding: 20px;">
                        <h2 class="text-center" style="font-size: 2.5em; font-weight: bold;">Гора Пильная</h2>
                        <p class="card-text">Гора Пильная расположена в 38 км от Екатеринбурга в черте города Первоуральск.
                        Общая площадь курорта составляет около 300 000 кв.м. с полным набором всей инфраструктуры, необходимой для любителей активного зимнего отдыха</p>
                        <a href="#" class="btn" style="display: inline-block; color: blue; background-color: lightgray; text-align: center; padding: 10px 20px; border: 1px solid blue; border-radius: 5px; text-decoration: none;">{{link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br>
{% endblock %}